/* 页面初始化样式 */
:root {
  --color-bg: #f3f5f7;
  --color-font-main: #252a34;
  --color-font-hover: #fabea7;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-font-main);
  text-decoration: none;
}

li {
  list-style: none;
}

body{
  font: 12px/1.5 "Helvetica Neue", "Helvetica", "tahoma","Arial", "PingFang SC","Hiragino Sans GB","STHeiti","Microsoft YaHei","WenQuanYi Micro Hei","sans-serif";
  background-color: var(--color-bg);
  color: var(--color-font-main);
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.w {
  max-width: 1290px;
  margin: 0 auto;
}

/* -------头部header区域------- */
#header {
  position: relative;
  height: 60px;
  line-height: 60px;
  background-color: rgba(255,255,255);
  box-shadow: 0 0 8px 0 rgba(232,237,250,.6),0 2px 4px 0 rgba(232,237,250,.5);
}

/* 左侧导航区域 */
#header .nav {
  height: 60px;
  display: flex;
}

#header .nav li {
  height: 60px;
  line-height: 60px;
  font-size: 16px;
}

#header .nav li a {
  display: inline-flex;
  align-items: center;
  height: 60px;
  padding: 0 10px;
}

.nav li a:hover{
  color: #fabea7;
  border-bottom: 2px solid #fabea7;
}

#header .nav li a .nav-text {
  margin-left: 5px;
}

/* 右侧导航区域 */
#header .search {
  height: 60px;
  display: flex;
  align-items: center;
}
#header .search .search-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  width: 250px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 16px;
  box-shadow: 0 10px 40px -10px rgba(0,64,128,.2);
}

.search-box .search-input {
  outline: none;
  border: none;
}

.search-box .search-icon {
  
}

/* -----------主体内容区域--------- */
#main {
  display: flex;
  margin-top: 1.5rem;
}

/* 左侧文章区域 */
#main .article {
  flex: 1;
}

.article .article-list {
}

#main .sidebar {
  width: 300px;
}

